@model IEnumerable<WebXeHoi.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.ImageUrl != null)
                {
                    <img src="@item.ImageUrl" width="150px"/>
                }
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@item.Id"/>
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1"/>
                    <button class="btn btn-info"  type="submit">
                        <i class="bi-cart-fill me-1"></i> 
                        Add to cart
                    </button>
                </form>

            </td>
        </tr>
}
    </tbody>
</table>
